<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">
  <div class="header__container content-wrapper">

    {# Header logo column #}
    <div class="header__logo header__logo--main">
      {% module 'site_logo' path='@hubspot/logo' link='http://www-picussecurity-com.sandbox.hs-sites.com/-temporary-slug-88361285-053d-49c2-9d3c-26333634ceda' %}
    </div>
    {# End header logo column #}

    {# Header navigation column #}
    <div class="header__column">

      {# Header navigation row one #}
      <div class="header__row-1 custom-menu-primary">

      </div>
      {# End header navigation row one #}

    </div>
    {# End header navigation column #}

  </div>
</header>
