<!--
  templateType: global_partial
  label: Simulation Trial Website Footer
-->

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="footer-container d-flex flex-column justify-content-center align-content-center">
            <div class="row">
              <div class="col">
                <div class="footer-text">
                  <h3>Trust Center</h3>
                  <p>We ensure we meet your needs. We strived to achieve the highest security and
                    quality practices.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="footer-img">
                  <img src="https://discover.picussecurity.com/hubfs/2x%20Demand%20Gen%20Files/38/footer-transparent.png"
                       alt="">
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col">
                <div class="footer-copyr">
                  <p>© 2022 Copyright. All rights reserved.</p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>