<!--
  templateType: global_partial
  label: Simulation Trial Website Header
-->
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="heading-container d-flex flex-column justify-content-center align-content-center">
            <div class="row">
              <div class="col">
                <div class="logo">
                  <img src="https://discover.picussecurity.com/hubfs/2x%20Demand%20Gen%20Files/38/Picus%20logo.png"
                       alt="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="heading">
                  <h1><span class="br-after">Assess Your Security Posture</span> <span class="br-after">Against Ransomware Attack</span> Scenarios</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
