<div class="use-cases-wrapper">
  <div class="global-row platform-block platform-usecases">
    <div class="page-center">
      <div id="usecases" class="platform-navigator"></div>
      {% if module.title %}<h2>{{ module.title }}</h2>{% endif %}
      <div class="row usecase-grid">
        <div class="colsm8 col12 col-centered">
          {% for rows in module.items|batch(2, '') %}
            <div class="row align-items-center">
              {% for item in rows %}
                {% set href = item.button_link.url.href %}
                {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                {% endif %}
                {% if item.background_image.src or item.logo_image.src or item.heading or item.description or href %}
                  <div class="colmd10 collg6 col12 usecase-box col-centered">
                    <div class="security-box" style="background-image: url('{{ item.background_image.src }}');">
                      {% if item.logo_image.src %}
                        <img src="{{ item.logo_image.src }}" alt="{{ item.logo_image.alt }}" title="{{ item.logo_image.alt }}">
                      {% endif %}
                      {% if item.heading %}<h3>{{ item.heading }}</h3>{% endif %}
                      <p>{{ item.description }}</p>
                      {% if href %}<a href="{{ href }}"
                         {% if item.button_link.open_in_new_tab %}target="_blank"{% endif %}
                         {% if item.button_link.no_follow %}rel="nofollow"{% endif %} class="btn btn-default">Read More</a>{% endif %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>