@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;800;900&display=swap');

/h1 {
  text-align: center;
  font-family:'Red Hat Display', sans-serif;
  }

p {
  font-family:'Red Hat Display', sans-serif;
  }
  