.footer-container-wrapper{
  background: #00395C;
  position:relative;
  padding:21px 0px;
  text-align:center;
  bottom:0;
  width:100%;
/*   margin-top:30px; */
}

.footer-container-wrapper p, .footer-container-wrapper p a{
  font-size: 14px;
  line-height:16px;
  color : #E6EAED;
  font-weight:600;
}

/* @media (min-width: 992px){
  .footer-container-wrapper{
    background: black;
    position:absolute;
  }
} */


