<div id="{{ module.section_name }}">
  <div class="picus-team wow fadeIn{% if module.light_theme %} light{% endif %}" id="{{ name }}">
    <div class="team-photo" style="background-image: linear-gradient(rgba(0,93,186,0.5), rgba(0,93,186,0.5)), url({{ module.person_photo.src }});"></div>
    <p class="team-name">{{ module.person_name }}</p>
    <p class="team-job">{{ module.job_title }}</p>
    <div class="team-links">
    {% if module.linkedin_url != "" %}<a href="{{ module.linkedin_url }}" target="_blank"><img src="https://www.picussecurity.com/hubfs/Shield/Icons/shield-team-linkedin-white.svg" alt="linkedin-address" /></a>{% endif %}
    {% if module.github_url != "" %}<a href="{{ module.github_url }}" target="_blank"><img src="https://www.picussecurity.com/hubfs/Shield/Icons/shield-team-github-white2.svg" alt="github-address" /></a>{% endif %}
    {% if module.twitter_url != "" %}<a href="{{ module.twitter_url }}" target="_blank"><img src="https://www.picussecurity.com/hubfs/Shield/Icons/shield-team-twitter.svg" alt="twitter-address" /></a>{% endif %}
    </div>  
  </div>
</div>

{% require_css %}
<style>
  #{{ name}}.picus-team .team-photo:hover { 
    background-image: linear-gradient(rgba(0,93,186,0), rgba(0,93,186,0)), url({{ module.person_photo.src }}) !important;
    opacity: 1;
  }
  #{{ name}}.picus-team.light {
    color: #fff;
  }
</style>
{% end_require_css %}