<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Boilerplate - email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% extends "../layouts/mega-menu-base.html" %}

{% block body %}
<main class="body-container-wrapper" style="background-image: url('https://www.picussecurity.com/hubfs/raw_assets/public/Shield/images/background-pattern-11.svg'); background-size: cover; background-position: 50% 2%;">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'backup_unsubscribe'
        extra_classes='backup-unsubscribe',
        path='@hubspot/email_simple_subscription'
      %}
    </div>
  </section>
</main>
{% endblock body %}