<div class="content-with-top-icon-image-group-wrapper">
  <div class="global-row mainpage-simulation">
    <div class="page-center">
      <div class="header">
        <h2>{{ module.title }}</h2>
      </div>

      <div class="row align-items-center">
        <div class="colmd8 col12">
          <div class="row">
            {% for item in module.items %}
              <div class="colsm6 col12 simulation-grid">
                {% if item.icon_image.src %}
                  <img src="{{ item.icon_image.src }}" alt="{{ item.icon_image.alt }}" title="{{ item.icon_image.alt }}">
                {% endif %}
                <h3>{{ item.heading }}</h3>
                <p>{{ item.description }}</p>
              </div>
            {% endfor %}
            {% if module.select_button_type %}
              <div class="col12">
                <div class="row">
                  <div class="colsm10 col12 col-centered">
                    <div class="row">
                      <div class="col12 buttons">
                        {% if module.select_button_type == 'standard' %}
                          {% set href = module.button_link.url.href %}
                          {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                            {% set href = "mailto:" + href %}
                          {% endif %}
                          {% if module.button_text and href %}
                            <a href="{{ href }}"
                               {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
                               {% if module.button_link.no_follow %}rel="nofollow"{% endif %} class="btn btn-default"><span>{{ module.button_text }}</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        </a>
                          {% endif %}
                        {% else %}
                          {% cta guid="{{ module.select_cta }}" %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        {% if module.image.src %}
          <div class="colmd4 col12 simulationimg">
            <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" title="{{ module.image.alt }}">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>