.wcs .wcs-pop-the-form {
  padding: 50px 0;
}
.wcs.wcs-modal {
  padding: 100px 50px !important;
  max-width: 800px !important;
}
.wcs.wcs-modal .wcs-pform .hs-form-required {
  display: none !important;
}
.wcs.wcs-modal .hs-form {
  margin-top: 0;
}
@media (min-width: 768px) {
  .wcs .vert-align {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .wcs .vert-align.rev-order {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
  }
  .wcs .row-fluid.vert-align.rev-order .wcs-col-6:last-child {
    margin-left: 0;
  }
}
@media(min-width:768px) and (max-width:1139px) {
  .wcs .row-fluid.vert-align.rev-order .wcs-col-6:first-child {
    margin-left:2.762430939%;
    *margin-left:2.709239449638298%;
  }
}
@media(min-width:1280px) {
  .wcs .row-fluid.vert-align.rev-order .wcs-col-6:first-child {
    margin-left:2.564102564%;
    *margin-left:2.510911074638298%;
  }
}

.wcs .wcs-page-center {
    max-width: 1000px;
    margin: 0 auto !important;
    float: none !important;
}

.wcs a.wcs-cta-button, .wcs a.wcs-cta-button:link, .wcs a.wcs-cta-button:active, .wcs a.wcs-cta-button:visited, .wcs a.wcs-cta_button, .wcs a.wcs-cta_button:link, .wcs a.wcs-cta_button:active, .wcs a.wcs-cta_button:visited {
    color: #fff;
  	text-decoration: none;
}
.wcs .wcs-cta-button, .wcs .wcs-cta_button {
    display: inline-block;
    text-align: center;
    padding: 20px 30px;
    width: 240px;
    margin-top: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.1);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background-color: #ffaf03;
    border: 1px solid #ffaf03;
}

/*****************************************/
/*                 FORMS                 */
/*****************************************/

.wcs .wcs-pform input, .wcs .wcs-pform select, .wcs .wcs-pform textarea {
  -webkit-appearance: none;
  color: #555;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #aaaaaa;
}
.wcs .wcs-pform .hs-button.primary {
  background-color: #ffaf03;
  color: #fff;
  text-align: center;
  padding: 15px 12px;
  min-width: 93.5% !important;
}

@media (max-width: 767px) {
  .wcs .wcs-pform .hs-button.primary {
    min-width: 100% !important;
  }
}

.wcs .wcs-pform .hs-button.primary:hover {
  background-color rgba(255, 175, 3, .7);
}

/* ========================= */
/*           FORM            */
/* ========================= */

.wcs .wcs-pform .hs-button.primary {
    padding: 10px;
    font-size: 24px;
    background: transparent;
    color: #ffaf03;
    border: 3px solid #ffaf03;
    margin-top:10px;
    min-width:100%;
    max-width: 100%;
    white-space: normal;
    display: block;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
}
.wcs .wcs-pform .hs-button.primary:hover {
    background: #ffaf03;
    color: #fff;
}
body .wcs .wcs-pform .hs-button.primary,
body .wcs .wcs-pform input[type="submit"],
body .wcs .wcs-pform input[type="button"] {
  cursor: pointer;
}
body .wcs .wcs-pform input[type="text"],
body .wcs .wcs-pform input[type="password"], 
body .wcs .wcs-pform input[type="datetime"], 
body .wcs .wcs-pform input[type="datetime-local"], 
body .wcs .wcs-pform input[type="date"], 
body .wcs .wcs-pform input[type="month"], 
body .wcs .wcs-pform input[type="time"], 
body .wcs .wcs-pform input[type="week"], 
body .wcs .wcs-pform input[type="number"], 
body .wcs .wcs-pform input[type="email"], 
body .wcs .wcs-pform input[type="url"], 
body .wcs .wcs-pform input[type="search"], 
body .wcs .wcs-pform input[type="tel"], 
body .wcs .wcs-pform input[type="color"],
body .wcs .wcs-pform input[type="file"],
body .wcs .wcs-pform textarea,
body .wcs .wcs-pform select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    padding: 10px 10px;
    font-size: 15px;
    margin:4px 0 20px;
    letter-spacing: 0.5px;
    border-radius: 0;
  	width: 93.5%;
}
.wcs .wcs-pform .hs-form {
    margin-top:20px;
}
.wcs .wcs-pform ul.inputs-list {
    -webkit-padding-start: 0;
}
.wcs .wcs-pform .hs-form-radio {
    list-style-type:none;
}
.wcs .wcs-pform .hs-form-booleancheckbox {
    list-style-type:none;
}
.wcs .wcs-pform .hs-form fieldset {
    max-width: none !important;
}
.wcs .wcs-pform .hs-form fieldset.form-columns-1 .input {
    margin-right: 0!important;
}
.wcs .wcs-pform .hs-form fieldset.form-columns-2 .input {
    margin-right: 8px;
}
.wcs .wcs-pform .hs-form fieldset.form-columns-2 .hs-form-field:last-child .input {
    margin-right: 0;
}
.wcs .wcs-pform .hs-form fieldset.form-columns-3 .input {
    margin-right: 12px;
}
.wcs .wcs-pform .hs-form fieldset.form-columns-3 .hs-form-field:last-child .input {
    margin-right: 0;
}
.wcs .wcs-pform .hs-form fieldset.form-columns-1 .hs-input {
    width: 100%!important;
}
.wcs .wcs-pform .hs-form fieldset.form-columns-1 input[type=checkbox], .wcs .hs-form fieldset.form-columns-1 input[type=radio] {
    width:auto!important;
}
.wcs .wcs-pform .hs-form-field .hs_email {
    display:inline-block;
}

body .wcs .wcs-pform input[type="text"]:focus,
body .wcs .wcs-pform input[type="password"]:focus, 
body .wcs .wcs-pform input[type="datetime"]:focus, 
body .wcs .wcs-pform input[type="datetime-local"]:focus, 
body .wcs .wcs-pform input[type="date"]:focus, 
body .wcs .wcs-pform input[type="month"]:focus, 
body .wcs .wcs-pform input[type="time"]:focus, 
body .wcs .wcs-pform input[type="week"]:focus, 
body .wcs .wcs-pform input[type="number"]:focus, 
body .wcs .wcs-pform input[type="email"]:focus, 
body .wcs .wcs-pform input[type="url"]:focus, 
body .wcs .wcs-pform input[type="search"]:focus, 
body .wcs .wcs-pform input[type="tel"]:focus, 
body .wcs .wcs-pform input[type="color"]:focus,
body .wcs .wcs-pform input[type="file"]:focus,
body .wcs .wcs-pform textarea:focus,
body .wcs .wcs-pform select:focus {}
body .wcs .wcs-pform label {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.wcs .wcs-pform ul.inputs-list li {
    list-style: none;
}

.hs-fieldtype-checkbox > label {
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}
.hs-fieldtype-radio > label {
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}

body .wcs .wcs-pform input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

body .wcs .wcs-pform input[type="radio" i] {
    -webkit-appearance: radio;
    box-sizing: border-box;
}

body .wcs .wcs-pform input[type="radio" i], body .wcs .wcs-pform input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

.wcs.wcs-modal.modal .hs-richtext {
    
}
.wcs.wcs-modal.modal .hs-richtext {
    height: auto !important;
    width: 300px !important;
}
.wcs.wcs-modal.modal .hs-richtext img {
    height: auto !important;
    width: 300px !important;
}
.wcs .wcs-pform .hs-form fieldset[class*="form-columns"] input[type="radio"].hs-input {
    width: auto;
  	margin-right: 10px;
}
.wcs .wcs-pform .hs-form fieldset[class*="form-columns"] input[type="checkbox" i].hs-input {
    width: auto;
  	margin-right: 10px;
}
.wcs .wcs-pform form.hs-form fieldset[class*="form-columns"] .hs-input {
    width: 100%;
    height: auto;
}

/********************************/

.wcs-container {
  margin: 0 auto !important;
  float: none !important;
  padding: 0 20px;
}
.wcs-container-fluid {
  margin: 0 auto !important;
  float: none !important;
  padding: 0 20px;
}
.wcs-col-1, .wcs-col-2, .wcs-col-3, .wcs-col-4, .wcs-col-5, .wcs-col-6, .wcs-col-7, .wcs-col-8, .wcs-col-9, .wcs-col-10, .wcs-col-11, .wcs-col-12 {
  min-height: 1px;
}
.wcs-col-1 img, .wcs-col-2 img, .wcs-col-3 img, .wcs-col-4 img, .wcs-col-5 img, .wcs-col-6 img, .wcs-col-7 img, .wcs-col-8 img, .wcs-col-9 img, .wcs-col-10 img, .wcs-col-11 img, .wcs-col-12 img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
/*  .wcs-col-1, .wcs-col-2, .wcs-col-3, .wcs-col-4, .wcs-col-5, .wcs-col-6, .wcs-col-7, .wcs-col-8, .wcs-col-9, .wcs-col-10, .wcs-col-11, .wcs-col-12 {
    float: left;
  }*/
  .wcs-col-12 {
    width: 100%;
  }
  .wcs-col-11 {
    width: 91.66666667%;
  }
  .wcs-col-10 {
    width: 83.33333333%;
  }
  .wcs-col-9 {
    width: 75%;
  }
  .wcs-col-8 {
    width: 66.66666667%;
  }
  .wcs-col-7 {
    width: 58.33333333%;
  }
  .wcs-col-6 {
    width: 47%;
    padding-right: 20px;
  }
  .wcs-col-5 {
    width: 41.66666667%;
  }
  .wcs-col-4 {
    width: 33.33333333%;
  }
  .wcs-col-3 {
    width: 25%;
  }
  .wcs-col-2 {
    width: 16.66666667%;
  }
  .wcs-col-1 {
    width: 8.33333333%;
  }
}
.wcs-clearfix:before,
.wcs-clearfix:after,
.wcs-container:before,
.wcs-container:after,
.wcs-container-fluid:before,
.wcs-container-fluid:after {
  content: " ";
  display: table;
}
.wcs-clearfix:after,
.wcs-container:after,
.wcs-container-fluid:after {
  clear: both;
}