@import url('https://www.w3schools.com/w3css/4/w3.css');

.custom-btn {
border:none;
display:inline-block;
padding:8px 16px;
vertical-align:middle;
overflow:hidden;
text-decoration:none;
color:inherit;
background-color:inherit;
text-align:center;
cursor:pointer;
white-space:nowrap
}


@media(max-width:767px){
  
 .custom-btn{  
   font-size:18px !important;   
  }
  
}