<!--
  templateType: page
  isAvailableForNewContent: true
  label: Web Series Page
  screenshotPath: ../images/template-previews/product-preview.png
-->
{% extends "./layouts/mega-menu-base.html" %}

{% block body %}
<main class="body-container-wrapper">
  <style>
    .header {
      background-color: rgba(255,255,255,1.0);
    }
    form label {
      color: #fff;
    }
  </style>
  {% dnd_area 'dnd_area' class='body-container body-container--home', label='Main section' %}

    {# Top banner section #}
    {% dnd_section
      background_image = {
        'backgroundPosition': 'TOP_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/web-series-bg.png')
      },
      padding={
        'top': 150,
        'bottom': 0
      },
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column
        width=5,
        padding={
          'left': 0,
          'bottom': 40 
        }
      %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text'%}
            {% module_attribute 'html' %}
              <h1 style="text-transform: uppercase; color: #fff;">MITRE ATT&CK TITLE ONE HERE</h1>
              <p style="color: #fff;">With Forename Surname, Company & Forename Surname, Company</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module "module_16087544671957" path="/Shield/modules/Video-Button", label="Video-Button" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        width=7,
        offset=5,
        padding={
            'right': 0
        }
      %}
        {% dnd_row %}
        {% dnd_module "module_15948171941699" path="@hubspot/linked_image", label="Speakers Image", 
        img={
          'alt': 'Speakers',
          'size_type': 'auto',
          'src': 'https://www.picussecurity.com/hubfs/Shield/Images/web-series-speakers-placeholder.png'
        },
        horizontal_alignment=RIGHT,
        custom_margin=true,
        margin_right=-150,
        animation_effect=fadeIn %}
        {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# Two Column Image Section #}
    {% dnd_section
      background_image = {
        'backgroundPosition': 'TOP_RIGHT',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/background-pattern-23.svg')
      },
      background_color={
        r: 255,
        g: 255,
        b: 255,
        a: 1.0
      },
      padding={
        'bottom': 120
      }
      vertical_alignment='MIDDLE'
    %}
    {% dnd_column offset=0,
      width=6,
      padding={
        'right': 30
      } %}
    {% dnd_row %}
    {% dnd_module path='@hubspot/rich_text'%}
    {% module_attribute 'html' %}
    <h3 class="underline">Series title goes here</h3>
      <p><strong>What you will discover in this webinar</strong></p>
      <ul class="blue-ticks">
        <li>Learning benefit from the webinar</li>
        <li>Learning benefit from the webinar</li>
        <li>Learning benefit from the webinar</li>
        <li>Learning benefit from the webinar</li>
      </ul>
      <p>{{cta('2e44797a-e11b-4411-a987-9ae12268d704')}}</p>
      {% end_module_attribute %}
    {% end_dnd_module %}
    {% end_dnd_row %}
    {% end_dnd_column %}  
    {% dnd_column offset=6,
      width=6,
      padding={
        'left': 30,
        'top': 50
      } %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/rich_text'%}
                {% module_attribute 'html' %}
                  <h3 style="text-align: center;">About the presenters</h3>
                {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module "module_16087326834756" path="/Shield/modules/Presenter", label="Presenter" width=6 %}
        {% end_dnd_module %}
        {% dnd_module "module_16087326834756" path="/Shield/modules/Presenter", label="Presenter" width=6, offset=6 %}
        {% end_dnd_module %}
      {% end_dnd_row %} 
    {% end_dnd_column %}  
    {% end_dnd_section %}
    {# End two column image left section #}
  
  {# Download Section #}  
  {% dnd_section background_image = {
    'backgroundPosition': 'TOP_CENTER',
    'backgroundSize': 'cover',
    'imageUrl': get_asset_url('../images/background-pattern-blue-download.svg')
  } %}
    {% dnd_column width=8 %}
      {% dnd_row %}
        {% dnd_module path='@hubspot/rich_text'%}
              {% module_attribute 'html' %}
                <h2 style="text-transform: uppercase; color: #fff;">Exclusive Download</h2>
                <p style="color: #fff;">Download our exclusive report on
                  the title for this episode in the series</p>
              {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module "module_16087338319447" path="/Shield/modules/Multi-Step Form", label="Multi-Step Form", dark_mode="true" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=4, offset=8 %}
      {% dnd_row %}
      {% dnd_module "linked_image" path="@hubspot/linked_image" 
      img={ "src": "https://www.picussecurity.com/hubfs/Red%20Report/rr-doc-big.png", "width": 356, "height": 409 } %}
      {% end_dnd_module %}
      {% end_dnd_row %}
      {% end_dnd_column %}
  {% end_dnd_section %}  
  {# End Download Section #}  

  {# Two column blog feed right section #}
    {% dnd_section
      vertical_alignment='MIDDLE',
      background_image = {
        'backgroundPosition': 'TOP_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/background-pattern-7.svg')
      },
      padding={ 'bottom': 0 },
      full_width=true
    %}
    {% dnd_column width=1 %}
    {% end_dnd_column %}
      {% dnd_module path='@hubspot/rich_text',
        offset=1,
        width=5
      %}
        {% module_attribute 'html' %}
          <div>
            <h2>WANT TO KNOW MORE?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet eros in tempor consectetur. Nullam egestas dolor fermentum interdum cursus. Fusce ut elementum mi.</p>
          </div>
        {% end_module_attribute %}
      {% end_dnd_module %}
      {% dnd_module "module_159515506310314" path="/Shield/modules/featured-resources", label="featured-resources", offset=6, width=6 %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {# End two column image right section #}

  {# Series Listing #}
  {% dnd_section %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module "module_160872417635715" path="/Shield/modules/Series-Listing", label="Series-Listing" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}   
  {% end_dnd_section %}
  {# End Series Listing #}

    {# CTA Module #}
  {% dnd_section padding={
    'top': 0
  }%}
    {% dnd_column %}
      {% dnd_row %}
      {% dnd_module path='@hubspot/rich_text'%}
              {% module_attribute 'html' %}
              <p style="text-align: center;">{{cta('38312db5-3332-4e19-a0eb-62e3f9fa48b8')}}</p>
              {% end_module_attribute %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% end_dnd_column %}  
  {% end_dnd_section %}
  {% end_dnd_area %}

</main>
{% endblock body %}
